In [2]:
#Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root",passwd="Rudr@123",use_pure=True,database="database_name")
    print(mydb.is_connected())
    cursor = mydb.cursor()
    query = "SELECT substring(FIRST_NAME(column_name),1,3) FROM Worker(table_name)"
    cursor.execute(query)
except Exception as e:
    mydb.close()
    print(str(e))

In [3]:
#Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root",passwd="Rudr@123",use_pure=True,database="database_name")
    print(mydb.is_connected())
    cursor = mydb.cursor()
    query = "Select INSTR(First_name, BINARY'a') from worker where First_name = 'Amitabh'"
    cursor.execute(query)
except Exception as e:
    mydb.close()
    print(str(e))

In [4]:
#Write an SQL query to print the name of employees having the highest salary in each department.

In [ ]:
import mysql.connector as connection 

try:
    mydb = connection.connect(host="localhost",user="root",passwd="Rudr@123",use_pure=True,database="database_name")
    print(mydb.is_connected())
    cursor = mydb.cursor()
    query = "Select Dept,Name,Salary from employee where (Dept,Salary) IN (Select Dept,MAX(Salary) from Employee group by Dept)"
    cursor.execute(query)
except Exception as e:
    mydb.close()
    print(str(e))